
<div class="conteinerList">
    <h4>Listado</h4>
    <ul class="list-group">
        <li *ngFor="let character of charactersList;
                 let i = index;
                 let isLast = last;
                 let isEven = even;
                 let isOdd = odd;"
                class="list-group-item d-flex justify-content-between align-items-center"
                [ngClass]="{
                    'list-group-item-dark': isLast,
                    'list-group-item-primary': isEven
                }">
    
        <div>
            <span class="text-primary">{{ i + 1 }}. </span>
            <strong>Paciente: </strong>
            <span>{{character.name}} </span>
            <strong>Edad: </strong>
            <span> {{character.edad}} </span> 
            <strong>Fecha cita: </strong>
            <span> {{character.fechaCita}} </span> 
            <strong>Diagnostico: </strong>
            <span> {{character.diagnostico}} </span> 
         </div>
        <button class="btn btn-danger" (click)="oneDeleteCharacter(i)">X</button>      
        </li>
    </ul> 
    

</div>
