<h4>Citas</h4>
<form (ngSubmit)="emitCharacter()">
    <span>Fecha de Creacion:  {{date | date}} </span> 
    <input type="text"   [(ngModel)]="character.name"         name="name"  placeholder="Paciente" class="form-control mb-2">
    <input type="number" [(ngModel)]="character.edad"         name="edad" placeholder="Poder" class="form-control mb-2">
    <span>Fecha de la cita</span>
    <input type="date"   [(ngModel)]="character.fechaCita"    name="edad" class="form-control mb-2">
    <input type="text"   [(ngModel)]="character.diagnostico"  name="name"  placeholder="Diagnostico" class="form-control mb-2">
    <button ype="submit" class="btn btn-primary">agregar</button>
</form>